#root {
  max-width: 1280px;
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

.boardRow {
  padding: 0;
  margin: 0;
  border: 0;
}

.square {
  padding: 0;
  margin: 0;
  border: 0;
}

.squareButton {
  /*background-image: url('assets/board/square.svg');*/
  background-color: transparent;
  background-size: contain;
  height: 1em;
  width: 1em;
  padding: 0;
  margin: 0;
  border: 0;
}

.squareButtonBlack {
  background-image: url('./assets/board/black_square.svg');
}

.squareButtonWhite {
  background-image: url('./assets/board/white_square.svg');
}

.boardRow {
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
}

.board {
  display: grid;
  grid-gap: 0;
  grid-auto-flow: row;
  scale: 1;
}