#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.square {
  padding: 0;
  margin: 0;
  border: 0;
}

.squareButton {
  background-image: url('./assets/square.svg');
  background-color: transparent;
  background-size: cover;
  height: 1em;
  width: 1em;
  padding: 0;
  margin: 0;
  border: 0;
}

.squareButtonBlack {

}

.squareButtonWhite {
  background-mage: url('./assets/white.svg');
}

.boardRow {
  display: flex;
}

.board {
  display: grid;
  grid-gap: 0;
  grid-auto-flow: row;
  scale: 1;
}